
.b-button{
    background-color: #2B91AF;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.b-button.small{
    border-radius: 15px;
    float: right;
	margin: 22px 5px 0;
	padding: 6px 15px;
}

.b-button:hover{
    background-color: #1e1e1e;
}

.b-button > span{
    font-size:84%
}

.b-button.b-close, .b-button.bClose{
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}


#popup,#popup2,.bMulti{
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    /*color: #2B91AF;*/
    color:#111;
    display: none;
    min-width: 550px;
    padding: 25px;
}

@media(max-width:767px) {
    #popup,#popup2,.bMulti{
        background-color: #fff;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 25px 5px #999;
        /*color: #2B91AF;*/
        color:#111;
        display: none;
        min-width: 95%;
        padding: 25px;
    }
}
#popup,.bMulti{
	min-height: 250px;	
}

#popup2,.bMulti{
    min-height: 250px; 
    max-width: 500px; 
}

.output { 
  color: #888; 
  font-size: 14px; 
  padding-top: 1px; 
  margin-left: 5px; 
  margin-top: 20px;
  vertical-align: middle;
}

/*
#popup .output-right{
  margin-left: 130px;
}

@media(max-width:767px) {
  #popup .output-right{
    margin-left: 270px;
  }
}
*/

#popup #txt_amount{
  width:120px;
  height: 35px;
}

@media(max-width:767px) {
  #popup #txt_amount{
    width:100%;
  }
}

#popup .input-group{
    width:150px;
}

@media(max-width:767px) {
    #popup .input-group{
        width:100%;
    }
}

#popup .span-normal{
  font-weight: normal;
  color: #6F6F6F;
}

#popup #span-repayment{
  font-size: 20px;
  color: #1E53B5;
  padding-left: 5px;
}

#popup2 .span-normal{
  font-weight: normal;
  color: #6F6F6F;
}

#popup2 .text-align{
      text-align: center;
}

@media(max-width:767px) {
  #popup2 .text-align{
      text-align: left;
  }
}


