/*============MODAL POPUP SECTION============*/
.modal-box {
  display: none;
  position: absolute;
  /*position: fixed;
  
  margin-left: -100px;
  margin-top: -100px;
  */

  z-index: 1042;
  width: 90%;
  /*width: 30%; */
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
@media (min-width: 32em) {

  .modal-box { 
    width: 50%; 
  }

  .popup-about { 
    width: 80%; 
  }
 
}

.modal-box header,
.modal-box .modal-header {
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { 
  padding: 20px 100px;
  overflow: none;
  max-height: 300px;
  overflow-y: auto
}

@media (max-width: 767px){
  .modal-box .modal-body { 
    padding: 20px 30px;
    overflow: none;
    max-height: 300px;
    overflow-y: auto
  }
}

.modal-box footer,
.modal-box .modal-footer {
  padding: 0.5em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}
.modal-box footer button{
  margin-right: 15px;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1041;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}


.modal-box .modal-body .col-sm-3, .modal-box .modal-body .col-sm-4 {
    text-align: right;
    padding-top: 6px;
}

.modal-box .modal-body .col-sm-8 {
    padding-top: 6px;
}

.modal-box .modal-body .col-sm-8 .normal {
    font-weight: normal;
}

@media (max-width: 767px){
  .modal-box .modal-body .col-sm-3, .modal-box .modal-body .col-sm-4 {
      text-align: left;
  }
}

.modal-box .modal-body .text {
    margin-top: 6px;
}

.modal-box .modal-body input[type="radio"] { 
  margin-top:9px;
}
