/*Matching Datagrid*/
.dataTables_wrapper .dataTables_paginate .paginate_button{
        padding: 3px 3px;
}

td.details-control {
    background: url(../../img/details_open.png) no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
	background: url(../../img/details_close.png) no-repeat center center;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
    opacity: 0.2;
}

div.dataTables_wrapper div.dataTables_CustomFilter {
    text-align: left;
    float: left;
  /*background-color: #FF0000;*/
}

#tbl_loan_list{
    font-weight: normal;
}

#tbl_loan_list tr{
    background-color: #ffffff;
}

.tbl_detail{
    padding-left:50px !important;
    width: 100%;
}

.tbl_detail tr{
    background-color: #f1f1f1 !important;
}

.tbl_detail tr td{
    border:none !important;
    padding-left: 50px !important;
}

.tbl_detail tr:hover{
    background-color: #f1f1f1 !important;
}